<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label>Mobile:</label>
        <input type="text" name="user_mobile" required>
        
        <label>Amount:</label>
        <input type="number" name="amount" required>
    
        <label>Reference ID:</label>
        <input type="text" name="reference_id" required>
    
        <button type="submit">Withdraw</button>
    </form>
    
</body>
</html>